<?xml version="1.0"?>
<config>
    <modules>
        <Kirchbergerknorr_Productslider>
            <version>0.1.0</version>
        </Kirchbergerknorr_Productslider>
    </modules>
    <global>
        <models>
            <kirchbergerknorr_productslider>
                <class>Kirchbergerknorr_Productslider_Model</class>
                <resourceModel>kirchbergerknorr_productslider_resource</resourceModel>
            </kirchbergerknorr_productslider>
            <kirchbergerknorr_productslider_resource>
                <class>Kirchbergerknorr_Productslider_Model_Resource</class>
            </kirchbergerknorr_productslider_resource>
        </models>
        <blocks>
            <kirchbergerknorr_productslider>
                <class>Kirchbergerknorr_Productslider_Block</class>
            </kirchbergerknorr_productslider>
        </blocks>
        <helpers>
            <kirchbergerknorr_productslider>
                <class>Kirchbergerknorr_Productslider_Helper</class>
            </kirchbergerknorr_productslider>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <kirchbergerknorr_productslider>
                    <file>kirchbergerknorr_productslider.xml</file>
                </kirchbergerknorr_productslider>
            </updates>
        </layout>
        <translate>
            <modules>
                <kirchbergerknorr_productslider>
                    <files>
                        <default>Kirchbergerknorr_Productslider.csv</default>
                    </files>
                </kirchbergerknorr_productslider>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <kirchbergerknorr>
                                            <title>Settings</title>
                                        </kirchbergerknorr>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>